name: release-please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      # Uses https://github.com/marketplace/actions/release-please-action
      - name: Create release
        id: release
        uses: google-github-actions/release-please-action@v4
        with:
          release-type: php
